/*

Color Palette:

Dark Forest Green:
#01160D     

Capri:
#48BEFF

Aqua:
#3DFAFF

Ocean Green:
#43C59E

Amaranth Purple:
#AB2346

*/

html{
    overflow-y:scroll;
}

.bg-image1{
    position: fixed; 
    top: -15%; 
    left: 0; 
	
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index:0;

}
.bg-image1-cover{
    background-color: green;
    background: linear-gradient(to bottom,  rgba(0,0,0,0)  80%, #01160D   100%); 

    position: absolute; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}


/*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*//*SECTION 2*/

.section2{
    background-color: #01160D  ;
    width: 100%;
    height: 100%;

    position:absolute;
    top:100%;
    left:0px;

}
.section2-headers{
    padding-top: 200px;
    color: gray;
    justify-content: center;
    text-align: center;
    font-size: 50px;

    display:grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;

}
.section2-headers-characters{
    font-size: 80px;
    color:white;
}
.section2-headers-words{
    transition: color 0.1s ease-out 10ms;
    transition: font-size 0.1s ease-out 10ms;
    margin: 10px;
    padding: 10px;

    background-color: #204f68;
    border-radius: 30px;
}
.section2-headers-words:hover{
    color: white;
    font-size: 60px;
    background-color: #48BEFF;
}
.section2-headers-selected{
    color: white;
    font-size: 60px;
    background-color: #48BEFF;
}
.section2-headers-center{
    position:relative;
    top: -60px;
}
.section2-image-main {
    display: block;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-55%, 0px);
    height: calc(70%);
    width:auto;

    border-radius: 200px;
    border: 3px solid white;

    position:absolute;

    opacity: 0%;
}
#section2-mainImage-technology{
    opacity:100%;
}

.section2-content-container{

    justify-content: center;
    text-align:center;
    height: 80%;

    position:relative;

}
.section2-superContent-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section2-text-container{
    justify-content: center;
    text-align:center;
    height: 80%;

    position:relative;

}
.section2-text-main{
    display: block;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-45%, 100px);
    height: calc(80%);
    width:auto;

    border-radius: 0px;
    border-top: 3px solid white;

    position:absolute;

    opacity: 0%;

    color:white;
    font-size: 30px;
    

}
#section2-mainText-technology{
    opacity: 100%;
}
.section2-bodyText > b {
    color: #AB2346;
}





